<div class="app-container">
    <div class="video-container">
        <video autoplay muted loop id="myVideo">
            <source src="assets/videos/paisaje.mp4" type="video/mp4">
        </video>
        <div class="game-title">
            <h1>"El Ahorcado"</h1>
        </div> 
        <div class="overlay-text">
            <div class="row">
                <div class="col-md-6">
                    <div class="word-container">
                        <span *ngFor="let letra of palabraOcultaArray" class="letter-placeholder">_</span>
                    </div>                                      
                    <div class="input-container mt-3">
                        <input type="text" [(ngModel)]="letraIngresada" class="form-control" placeholder="Ingrese una letra" minlength="1" maxlength="1">
                    </div>
                    <div class="buttons-container mt-3">
                        <button  type="button"  mat-raised-button  class="button custom-button" routerLink="/inicio" >Salir</button>
                        <button type="button" (click)= verificarLetra() mat-raised-button class="button custom-button">Enviar</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="letters-container">
                        <!-- Mostrar las letras disponibles y manejar la lógica de selección -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


