<div class="app-container">
    <div class="video-container">
      <video autoplay muted loop id="myVideo">
        <source src="assets/videos/paisaje.mp4" type="video/mp4">
      </video>
        <div>
      <h1>"El Ahorcado"</h1>
      <img src="assets/img/icon.png" class="image-overlay">
        </div>
        <div class="overlay-text">
        <h2>¡Bienvenidos al emocionante mundo de "El Ahorcado"! 
        ¿Estás listo para el reto? ¡Comienza a jugar y diviértete mientras aprendes nuevas palabras y mejoras tus habilidades de memoria y concentración!</h2>
        <button routerLink="/jugar" type="button"  mat-raised-button  class="button custom-button"> 
            JUGAR
        </button>
        </div>
    </div> 
  </div>  